.sobreMi{
    display: grid;
    grid-template-rows: 400px 400px 400px;
    padding: 50px;
}

.media{
    align-items: center;
    just
}

.media img{
    width: 40%;
    border-radius: 20px;
}

.personal{

}

.habilidades{

}

.aprendizajes{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
}

.badge{
    width: fit-content;
}